

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
     <li>
      <div class="navbar-form pull-right">
        <label>Show:&nbsp;</label>
        <select id="dynatable-per-page-serieslist" class="form-control">
        </select>
      </div>
     </li>
    </ul>
  </div>
</nav>

<div class='dynatable-pagination-links-serieslist'></div>

<table class="table table-hover table-condensed pw-list" id="serieslist">
<thead>
  <tr>
    <th>Series</th>
    <th>Patches</th>
    <th>Reviewer</th>
    <th>Submitter</th>
    <th>Submitted</th>
    <th>Updated</th>
  </tr>
</thead>
<tbody>
</tbody>
</table>

<div class='dynatable-pagination-links-serieslist'></div>

<div style="clear: both;"/>
